:root {
  --sidePadding: 20px;
  --rowGapSpace-bw-texts: 60px;

  --color1: #085db2;
  --color2: #06943a;
  --color3: #96999a;
  --color4: #ffffff;
  --color5: #c5a308;
}

.homePage,
.aboutUsPage,
.servicesPage {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

/* Navbar start */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px var(--sidePadding);
}

.logo {
  width: 52px;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.logo:hover {
  box-shadow: 0 8px 8px 0 #bebbbc, 0 8px 8px 0 #adadab;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
}

.burgerButton {
  z-index: 1000;
}

/* Mantine drawer class */
.mantine-1q36a81 {
  padding: 0;
}

.mantine-io8lqy {
  background-color: #085db2;
}

.mantine-19pz3dh {
  background-color: #085db2;
  display: none;
}

.mantine-1q36a81:not(:only-child) {
  height: 100%;
}
/* Mantine drawer class */

.sidebar {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.sidebar a {
  text-decoration: none;
  color: var(--color4);
  font-size: 24px;
  text-align: center;
}

.sidebar a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.sidebar button {
  margin-top: 24px;
  background-color: var(--color2);
}

.sidebar button:hover {
  background-color: #169b47;
}
/* Navbar finish */

/* Header start */
.header {
  display: flex;
  flex-direction: column;
  place-content: center;
  row-gap: var(--rowGapSpace-bw-texts);
  padding: 0 var(--sidePadding);
}

.headerText {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: var(--rowGapSpace-bw-texts);
}

.header img {
  width: 100%;
}

.header a {
  text-decoration: none;
  width: 100%;
}

.dropdown {
  cursor: pointer;
  color: var(--color2);
  position: relative;
}

.dropdown:hover .dropdownMenu {
  opacity: 1;
  visibility: visible;
}

.dropdown-titleImage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #8ee4ad;
  border: 2px solid var(--color2);
  border-radius: 8px;
  padding: 4px 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}

.dropdown-titleImage-container img {
  width: 24px;
}

.dropdownMenu {
  position: absolute;
  background-color: #8ee4ad;
  top: 60px;
  border: 2px solid var(--color2);
  border-radius: 8px;
  padding: 20px 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.dropdownMenu a {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: var(--color2);
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.dropdownMenu img {
  width: 24px;
}

.dropdownMenu a:hover {
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
}

/* Header finish */

/* Services section start */
.servicesSection {
  width: 100%;
  padding: 0 var(--sidePadding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: var(--rowGapSpace-bw-texts);
}

.services-textsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.servicesSection a {
  text-decoration: none;
  width: 100%;
}

.servicesSection a button {
  color: var(--color1);
  background-color: #085db256;
}

.servicesSection a button:hover {
  color: var(--color4);
  background-color: var(--color1);
}

/* Services section cards start */
.services-cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}

.services-cards {
  width: 100%;
  border-radius: 12px;
  padding: 20px var(--sidePadding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: var(--color4);
}

.services-cards img {
  width: 60px;
}

.services-cards-green {
  background-color: var(--color2);
}

.services-cardsTexts {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.services-cardsTexts ul {
  text-align: left;
  font-size: 12px;
  font-weight: 600;
}
/* Services section cards finish */
/* Services section finish */

/* News section start */
.newsSection {
  width: 100%;
  padding: 40px var(--sidePadding);
  background-color: #085db2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--rowGapSpace-bw-texts);
}

.newsCard-date {
  color: #1ea952;
  cursor: default;
}

.titleNewsCard {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: wrap;
}

.textNewsCard {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: wrap;
}

.newsCard button {
  border: 1px solid #085db2;
  color: var(--color1);
}

.newsCard button:hover {
  background-color: #085db28e;
}
/* News section start */
/* Main finish */

/* Contact section start */
.contactSection {
  padding: 0 var(--sidePadding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--rowGapSpace-bw-texts);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.form button {
  background-color: var(--color2);
}

.form button:hover {
  background-color: #169b47;
}
/* Contact section finish */

/* Footer start */
.footer {
  background-color: #032e57;
  padding: 40px var(--sidePadding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color4);
  row-gap: var(--rowGapSpace-bw-texts);
}

.footer img {
  width: 80px;
}

/* .footerLogo {
  width: 52px;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.footerLogo:hover {
  box-shadow: 0 8px 8px 0 #032e57, 0 8px 8px 0 #adadab;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
} */

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.links-container a {
  text-decoration: none;
  color: var(--color4);
}

.links-container a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.socialMedia-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.socialMedia-icons a {
  width: 36px;
  transition: 0.2s;
}

.socialMedia-icons a img {
  width: 100%;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.socialMedia-icons a img:hover {
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
}
/* Footer finish */

/* About Us Section start */
.aboutUsSection-container {
  width: 100%;
  padding: 0 var(--sidePadding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--rowGapSpace-bw-texts);
}

.aboutUsSection-textImage {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.aboutUsSection-textImage img {
  width: 100%;
  border-radius: 8px;
}
/* About Us Section finish */

/* Services big section start */
.servicesBigSection-container {
  width: 100%;
  padding: 0 var(--sidePadding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--rowGapSpace-bw-texts);
}

.servicesBigSection-textImage {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.servicesBigSection-textImage img {
  width: 100%;
  border-radius: 8px;
}

.servicesBigSection-cards {
  width: 100%;
  border-radius: 8px;
  padding: 20px var(--sidePadding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: var(--color4);
}

.servicesBigSection-cards-titleText-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
/* Services big section finish */
