:root {
  --topBottomPadding: 12px;
  --sidePadding: 20px;
  --rowGapSpace-bw-textContent: 40px;
  --rowGapSpace-bw-texts: 20px;

  --color1: #085db2;
  --color2: #1ea952;
  --color3: #96999a;
  --color4: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--topBottomPadding) var(--sidePadding);
  border-bottom: 1px solid var(--color1);
}

.logo {
  width: 52px;
}

.burgerButton {
  z-index: 3;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  place-content: center;
  row-gap: 8px;
  background-color: var(--color1);
  box-shadow: 0 0 120px rgb(0 0 0 / 80%);
  transition: 1s;
  z-index: 2;
}

.sidebar a {
  text-decoration: none;
  color: var(--color4);
  font-size: 24px;
  text-align: center;
}

.sidebar a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.sidebar button {
  margin-top: 24px;
  background-color: var(--color2);
}

.sidebar button:hover {
  background-color: #169b47;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  row-gap: var(--rowGapSpace-bw-textContent);
  padding: var(--topBottomPadding) var(--sidePadding);
}

.headerText {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: var(--rowGapSpace-bw-texts);
}

.headerText h1 {
  font-size: 48px;
  font-weight: 900;
}

.headerText h2 {
  font-weight: 600;
  color: #7b7e80;
  font-style: italic;
}

.header img {
  width: 100%;
}

.header button {
  background-color: var(--color2);
}

.header button:hover {
  background-color: #169b47;
}

.main {
  padding: var(--topBottomPadding) var(--sidePadding);
  background-color: #085db2;
}

.main h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--rowGapSpace-bw-textContent);
}

.newsCard {
  max-width: 100%;
}

.contactSection {
  width: 100%;
  padding: var(--topBottomPadding) var(--sidePadding);
}

.contactSection h2 {
  text-align: center;
  margin-bottom: var(--rowGapSpace-bw-textContent);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--rowGapSpace-bw-texts);
}

.form button {
  background-color: var(--color2);
}

.form button:hover {
  background-color: #169b47;
}
