:root {
  --sidePadding: 20px;
  --rowGapSpace-bw-texts: 40px;

  --color1: #085db2;
  --color2: #1ea952;
  --color3: #96999a;
  --color4: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px var(--sidePadding);
  border-bottom: 1px solid var(--color1);
}

.logo {
  width: 52px;
}

.burgerButton {
  z-index: 3;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  place-content: center;
  row-gap: 8px;
  background-color: var(--color1);
  box-shadow: 0 0 120px rgb(0 0 0 / 80%);
  transition: 1s;
  z-index: 2;
}

.sidebar a {
  text-decoration: none;
  color: var(--color4);
  font-size: 24px;
  text-align: center;
}

.sidebar a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.sidebar button {
  margin-top: 24px;
  background-color: var(--color2);
}

.sidebar button:hover {
  background-color: #169b47;
}

/* Header start */
.header {
  display: flex;
  flex-direction: column;
  place-content: center;
  row-gap: var(--rowGapSpace-bw-texts);
  padding: 0 var(--sidePadding);
}

.headerText {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: var(--rowGapSpace-bw-texts);
}

.header img {
  width: 100%;
}

.header button {
  border: 2px solid #1ea952;
  color: var(--color2);
}

.header button:hover {
  background-color: #1ea9516e;
}
/* Header finish */

/* Main start */
.main {
  padding: 40px var(--sidePadding);
  background-color: #085db2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--rowGapSpace-bw-texts);
}

/* News cards start */
.newsCard-date {
  color: #1ea952;
  cursor: default;
}

.titleNewsCard {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: wrap;
}

.textNewsCard {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: wrap;
}

.newsCard button {
  border: 1px solid #085db2;
  color: var(--color1);
}

.newsCard button:hover {
  background-color: #085db28e;
}
/* News cards finish */
/* Main finish */

/* Contact start */
.contactSection {
  padding: 0 var(--sidePadding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--rowGapSpace-bw-texts);
}

/* .contactSection h2 {
  text-align: center;
} */

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--rowGapSpace-bw-texts);
}

.form button {
  background-color: var(--color2);
}

.form button:hover {
  background-color: #169b47;
}
/* Contact finish */

.footer {
  background-color: #03203b;
  padding: 80px var(--sidePadding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color4);
  row-gap: var(--rowGapSpace-bw-texts);
}

.footer img {
  width: 80px;
}

.socialMedia-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.socialMedia-container h3 {
  font-weight: 400;
  font-size: 24px;
}

.socialMedia-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.socialMedia-icons a {
  width: 36px;
  transition: 0.2s;
}

.socialMedia-icons a img {
  width: 100%;
}

.socialMedia-icons a img:hover {
  width: 40px;
}
