@tailwind base;
@tailwind components;
@tailwind utilities;

/* --color1: blue;
--color2: green;
--color3: gray;
--color4: #ffffff;
--color5: #c5a308; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Mantine drawer class */
.mantine-1q36a81 {
  padding: 0;
}

.mantine-io8lqy {
  background-color: #085db2;
}

.mantine-19pz3dh {
  background-color: #085db2;
  display: none;
}

.mantine-1q36a81:not(:only-child) {
  height: 100%;
}
/* Mantine drawer class */

/* Manteine HABLEMOS Button classes */
.mantine-1ryt1ht,
.mantine-1rnkhfs {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
/* Manteine HABLEMOS Button classes */

/* Cards component */
.titleNewsCard {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: wrap;
}

.textNewsCard {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: wrap;
}

/* Carousel */
.mantine-1s6xx1p button {
  background-color: rgba(0, 0, 0, 0.836);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  color: white;
}

.mantine-564hfj {
  border-radius: 8px;
}
/* Carousel */
/* Cards component */

/* Footer component */
.socialMedia-icons a img {
  width: 100%;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.socialMedia-icons a img:hover {
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
}
/* Footer component */
